{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags wagtailmarkdown %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    <h1>Today's Puzzle</h1>
    <div>
        {% with post=today_puzzle.specific %}

            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}
            {{ post.body|markdown }}
        {% endwith %}
    </div>
    <div><p>&nbsp;</p></div>
    <h1>Answer of Yesterday's Puzzle</h1>
    <div>
        {% with post=yesterday_puzzle.specific %}

            <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            <h4>Answer</h4>
            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}
            {{ post.answer|markdown }}
        {% endwith %}
    </div>

{% endblock content %}
