body {
    max-width: 1160px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
    color: #231f20;
    line-height: 1.25;
    font-size: 1.3rem;
    font-weight: 400;
}

main {
    display: block; /* For IE11 support */
}

.main {
    padding: 20px 0;
    margin: 0 auto;
}

table.wftable tr td {
    border: 1px solid black;
}

table.wftable th td {
    border: 1px solid black;
}

table.wftable {
    border-spacing: 4px 2px;
}