{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags static wagtailmarkdown %}

{% block body_class %}template-puzzlepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/puzzle.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {{ page.body|markdown }}
    <br/>

    {% if page.answer %}
        <a name="answer"></a>
        <h3>Answer &nbsp;&nbsp;&nbsp; <button id='puzzle-answer-toggle-button' type="button" class="btn btn-outline-primary btn-sm" style='font-size: 16px;' onclick="toggleAnswer()">Hide</button> </h3>
        <br/>
        <div id="puzzle-answer">
            {{ page.answer|markdown }}
        </div>
    {% endif %}

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <script type="text/javascript" src="{% static 'js/puzzle.js' %}"></script>

{% endblock %}